@model GerenciamentoContas.Models.ContasModel
@{
    ViewBag.Title = "Dados da conta";
}
<section>
    <div class="container">
        <h2 class="titulinho">Excluir conta</h2>
        <div class="container-1">
            @using (Html.BeginForm())
            {
                <a class="btn btn1" href="@Url.Action("ContasAdm", "Home")">Voltar</a>
                <input value="Excluir" type="submit" class="btn btn2" />
            }
        </div>
        <div class="lista-1">
            <ul class="lista-2">
                <li class="font"><label> Código da conta: </label> @Html.DisplayFor(model => model.CodConta, new { @class = "font" })</li>
                <li class="font"><label> Tipo: </label> @Html.DisplayFor(model => model.TipoConta, new { @class = "font" })</li>
                <li class="font"><label> Nome: </label> @Html.DisplayFor(model => model.NomeConta, new { @class = "font" })</li>
                <li class="font"><label> Data de vencimento: </label> @Html.DisplayFor(model => model.VencConta, new { @class = "font" })</li>
                <li class="font"><label> Telefone: </label> R$ @Html.DisplayFor(model => model.ValorConta, new { @class = "font" })</li>
                <li class="font"><label> Valor da Multa: </label> R$ @Html.DisplayFor(model => model.MultaConta, new { @class = "font" })</li>
                <li class="font"><label> Observações: </label> @Html.DisplayFor(model => model.ObsConta, new { @class = "font" })</li>
            </ul>
        </div>
    </div>
</section>
<script src="~/Content/Css2/js/tabela-1.js"></script>